@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Moderustic', sans-serif;
}
body{
    background-color: #8e89899a;
    padding: 30px;
}
.container{
    width: 100%;
    min-height: auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.nav{
    /* background-color:orange ; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color:plum; */
}
.nav-menu-img-bar{
    cursor: pointer;
    display: none;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list a{
    color: #222;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
/* background-color: #BAB7B7; */
}
.nav-list a:hover{
    
    background-color: #bab7b717;
}
.nav-logo{
    display: flex;
    align-items: center;
   
    flex-direction: column;
}
.nav-contacts{
    display: flex;
    align-items: center;
 
    cursor: pointer;
}
.nav-contacts img{
    margin: 0 2px;
}




/* main start */
.main{
    width: 100%;
    min-height:auto;
    /* background-color: orange; */
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.main-left{
    flex-basis: 700px;
    min-height:auto;
    /* background-color: red; */
    padding: 10px;
    /* position: absolute; */
   
}
.main-left-up {
    width: 100%;
    height: 300px;
    /* background-color: brown; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* z-index: -1; */
  
}
.main-left-up-l{
    width: 70%;
    flex-basis: 70%;
    height: 100%;
    /* background-color: greenyellow; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
   
}




/* swiper start  */
  html,
  body {
      position: relative;
      height: 100%;
  }

  body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
  }

  .swiper {
      width: 500px;
      height: 100%;
  }

  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
/* swiper end  */

.main-left-up-r{
    width: 30%;
    flex-basis: 30%;
    min-height:auto;
    /* background-color: pink; */
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}
.main-left-up-r button{
    width: 85px;

}
.main-left-up-r img{
    cursor: pointer;
}

.main-left-bottom {
    width: 100%;
    height: 300px;
    /* background-color: blue; */
   
}
.main-left-bottom-viewed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 10px;
    
}   
.main-left-bottom-viewed-img{
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    padding: 10px 0 10px 20px;
        /* background-color: orchid; */
}
.main-left-bottom-viewed-img-box p{
    display:flex;
    font-weight: 500;
    margin: 10px 0;
}
.main-left-bottom-viewed-img-box-text{
    display: flex;
    justify-content: space-between;
}
/* main left end  */
.main-right{
    flex-basis: 700px;
    min-height: auto;
    /* background-color: #BAB7B7; */
    padding: 10px;
  
}
.main-right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
    /* background-color: orchid; */
}
.main-right-info{
    padding:20px 0;
    /* background-color: rgb(186, 186, 186); */
}
.main-right-price{
    /* background-color: cyan; */
    padding: 10px 0;
}
.main-right-rating{
    display: flex;
    align-items: center;
    gap: 10px;  
    /* background-color: cadetblue; */
    padding: 10px 0;
}

.main-right-colour-title{
    padding: 10px 0;
    font-weight: 500;
}
.main-right-colour-box{
    display: flex;
    gap: 10px;
    justify-content: start;
    margin: 10px 0;
    /* padding:5px 10px; */
    cursor: pointer;
}
.main-right-colour-box i {
    margin: 0 5px;
}
.main-right-btn{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 10px;
}
.main-right-btn-buy{
    width: 180px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 2px solid #222;
    background-color: transparent;
    color: #222;
    cursor: pointer;
    font-weight: 500;
}
.main-right-btn-basket{ 
    width: 180px;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: #222222cc;
    color: #fff;
    cursor: pointer;
}
.main-right-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: orange; */
    align-items: center;
}
.main-right-description-delivery p{
    margin: 10px 0;
}
.main-right-description-delivery-span{
    display: block;
    /* background-color: plum; */
    transform: scale(0);
    transition: 0.3s;
    font-size: 1.3rem;
    margin: 10px 0;
}
.showmore{
    transform: scale(1);
}
/* main end */